*{   
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 488px);
}


h1 {
    font-family: 'Poppins';
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 40px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 48px;
    line-height: 24px;
}

hr {
    width: 33.7cm;
    margin-left: 40px;
    margin-bottom: 20px;
    
}

.box-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    height: 438px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 15px;
    background-color: #EBEBEB;
}

.box-left .box-perfil .user-img{
    width: 135px;
    margin-top: 30px;
    margin-left: 38px;
    border-radius: 50px;
}

.box-left .box-perfil{
    background-color: #D9D9D9;
    margin-top: 40px;
    width: 215px;
    height: 215px;
    border-radius: 120px;
    border: solid 1px;
    cursor: pointer;
}

.box-left h3 {
    font-family: 'Poppins';
    margin-top: 10px;
    font-size: 26px;
}

.box-left p {
    font-family: 'Poppins';
    font-weight: bolder;
    margin-top: 4px;
    font-size: 20px;
    text-decoration: underline;
}

.box-left button{
    width: 170px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 15px;
    background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.box-left button:hover {
    background: #FFBF00;
}

.cab-form{
    display: flex;
    background-color: #D9D9D9;
    width: 825px;
    height: 140px;
    margin-top: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.cab-form .ctn {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: 23px;
    line-height: 32px;
    margin-top: 30px;
}

.cab-form .ctn p {
    font-size: 15px;
    margin-top: 35px;
    font-weight: bold;
    
}

.cab-form .ctn .textos {
    display: flex;
}

.cab-form .ctn .textos .veiculo {
   border-bottom: solid;
   padding-bottom: 7px;
}

.cab-form .ctn .textos p {
    margin-right: 30px;
}

.box-form{
    background-color: #EBEBEB;
    display: flex;
    width: 825px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 50px;
    padding-bottom: 40px;


}

.box-form .box-img-veic {
    margin-top: -20px;
}

.box-form .box-img-veic p {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 21px;
    margin-left: 50px;
    margin-top: 45px;
}

.box-form .box-img-veic .img-veic {
    border: solid 1px #000000;
    margin-left: 50px;
    margin-top: 18px;
    width: 245px;
    height: 220px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.box-form .box-img-veic button{
    width: 190px;
    height: 36px;
    left: calc(50% - 220px/2 - 70px);
    top: calc(50% - 44px/2 - 69.5px);
    background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    margin-top: 17px;
    margin-left: 80px;
    margin-bottom: 35px;
    cursor: pointer;
}

.box-form .box-img-veic button:hover {
    background: #FFBF00;
}

.box-form form {
    margin-top: 35px;
}

.box-form .campo-form {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.box-form .campo-form label {
    font-family: 'Poppins';
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 14px;
}

.box-form .campo-form input{
    width: 346px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

form .form-um{
    margin-top: 25px;
}

.box-form .form-dois{
    display: flex;
    flex-direction: column;
    margin-left: 34px;
}

.box-form .form-dois .campo-check{
    display: flex;
}

.box-form .form-dois label{
    font-family: 'Poppins';
    margin-top: 17px;
    font-weight: bold;
    font-size: 14px;
}

.box-form .form-dois .campo-check label{
    font-family: 'Poppins';
    font-size: 11px;
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 1px;
}

.box-form .form-dois .campo-check .tipo-b{
    margin-left: 20px;
}


input[type=checkbox] {
    cursor: pointer;
    width: 17px;
    height: 17px;
    background: #F7F7F7;;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-top: 5px;
  }

form button {
    font-family: 'Poppins';
    font-weight: bolder;
    letter-spacing: 1.5px;
    color: white;
    border: none;
    background-color: #05B436;
    width: 187px;
    height: 39px;
    background: #05B436;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 33px;
    margin-left: 35px;
    cursor: pointer;
}

form button:hover{
    opacity: 90%;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}