*{   
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 488px);
}



h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 40px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 48px;
    line-height: 24px;
}

hr {
    width: 33.7cm;
    margin-left: 40px;
    margin-bottom: 20px;
    
}

.box-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    height: 438px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 15px;
    background-color: #EBEBEB;
}

.box-left .box-perfil .user-img{
    width: 135px;
    margin-top: 30px;
    margin-left: 38px;
    border-radius: 50px;
}

.box-left .box-perfil{
    background-color: #D9D9D9;
    margin-top: 40px;
    width: 215px;
    height: 215px;
    border-radius: 120px;
    border: solid 1px;
    cursor: pointer;
}

.box-left h3 {
    margin-top: 10px;
    font-size: 26px;
}

.box-left p {
    font-weight: bolder;
    margin-top: -1px;
    font-size: 20px;
}

.box-left button{
    width: 170px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
    background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.box-left button:hover {
    background: #FFBF00;
}

.cab-form{
    display: flex;
    background-color: #D9D9D9;
    width: 825px;
    height: 145px;
    margin-top: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.cab-form .ctn {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: 23px;
    line-height: 32px;
    margin-top: 30px;
    border-bottom: solid ;
}

.cab-form .ctn p {
    font-size: 15px;
    margin-top: 43px;
    font-weight: bold;
    
}

form .form-um{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    margin-top: 25px;
}



.box-form{
    background-color: #EBEBEB;
    display: flex;
    width: 825px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 50px;


}

.box-form .campo-form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.box-form .campo-form label {
    margin-top: 17px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;

}

.box-form .campo-form input{
    width: 346px;
    height: 29px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    
    padding-left: 10px;
}

.box-form .comp {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.box-form .comp label{
    margin-top: 13px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.box-form .comp input{
    width: 748px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 50px;
    padding-left: 10px;

    
}



.box-form .form-dois button{
    width: 220px;
    height: 38px;
    left: calc(50% - 220px/2 - 70px);
    top: calc(50% - 44px/2 - 69.5px);
    background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 35px;
    cursor: pointer;
}

.box-form .form-dois button:hover {
    background: #FFBF00;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}
