*{   
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-image: url('./bg-img.png');
    background-color: rgb(0, 0, 0);
}

section .container{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    background: #232222;
    color: white;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 465px;
    height: 645px;
    border-radius: 10px;
}
section .container .titulo{
    font-size: 20px;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 30px;
}

section .container .sub{
    font-size: 15px;
    font-family: 'Poppins';
    text-align: center;
}


form{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 10px;
}

form p{
    font-family: 'Poppins';
    font-size: 21px;
}

form .t2{
    margin-top: 15px;
}


form label{
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 7px;
}

form button{
    font-family: 'Poppins';
    width: 157px;
    height: 33px;
    left: calc(50% - 220px/2 - 70px);
    top: calc(50% - 44px/2 - 69.5px);
    background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    color: #332200;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 115px;
    margin-bottom: 35px;
    cursor: pointer;
}

form button:hover{
    background: #FFBF00;
}

form .origem{
    display: flex;
    flex-direction: column;
}

form .origem input{
    border: none;
    border-radius: 9px;
    width: 210px;
    height: 30px;
    background:  #F7F7F7;
    padding-left: 10px;
}

form .origem .faixa-um{
    display: grid;
    grid-template-columns: repeat(2, 300px);    
}

form .origem .faixa-um div{
    display: flex;
    flex-direction: column;
}

form .origem .rua{
    width: 285px;
}

form .origem .num{
    width: 100px;
}

form .origem .faixa-dois{
    display: grid;
    grid-template-columns: repeat(2, 210px);
    margin-top: 10px;
}

form .origem .faixa-dois div{
    display: flex;
    flex-direction: column;
}

form .origem .faixa-dois .estado{
    width: 200px;
}

form .origem .faixa-dois .bairro{
    width: 190px;
}

form .origem .comp{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

form .origem .comp input{
    width: 400px;
}



form .destino{
    display: flex;
    flex-direction: column;
}

form .destino input{
    border: none;
    border-radius: 9px;
    width: 210px;
    height: 30px;
    background:  #F7F7F7;
    padding-left: 10px;
}

form .destino .faixa-um{
    display: grid;
    grid-template-columns: repeat(2, 300px);    
}

form .destino .faixa-um div{
    display: flex;
    flex-direction: column;
}

form .destino .rua{
    width: 285px;
}

form .destino .num{
    width: 100px;
}

form .destino .faixa-dois{
    display: grid;
    grid-template-columns: repeat(2, 210px);
    margin-top: 10px;
}

form .destino .faixa-dois div{
    display: flex;
    flex-direction: column;
}

form .destino .faixa-dois .estado{
    width: 200px;
}

form .destino .faixa-dois .bairro{
    width: 190px;
}

form .destino .comp{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

form .destino .comp input{
    width: 400px;
}





input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}
